.dropdown-container {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: green;
}

.dropdown {
    margin-left: 70%;
    /* margin-left: 80%; */
}

.options-menu {
    display: block;
}